.mainDiv {
  text-align: left;
}

.header {
  text-align: center;
}

.eventCard {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  margin: 2% 20%;
  padding: 1%;
}

img {
  max-width: 30%;
  margin: auto 0;
  padding-right: 5%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
