.mainDiv {
  text-align: left;
}

.header {
  text-align: center;
}

.eventCard {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  margin: 2% 20%;
  padding: 1%;
}

img {
  max-width: 30%;
  margin: auto 0;
  padding-right: 5%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.openChart {
  display: flex;
  justify-content: center;
  margin: auto;
}

.popup {
  overflow: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border-radius: 10;
  border-width: 1;
  border-color: #cdf2c9;
  background-color: chartreuse;
}

.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
